<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="images/logo.ico" type="image/x-icon" />
    <!-- home -->
    <link rel="stylesheet" href="css/home-style.css" />
    <!-- navbar styles -->
    <link rel="stylesheet" href="css/nav-style.css" />
    <title>Sai Vishnu</title>
    <link
      href="https://fonts.googleapis.com/css?family=Space+Mono:regular,italic,700,700italic"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Courier+Prime:regular,italic,700,700italic"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Rubik+Mono+One:regular"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="hero">
      <%- include("navbar"); %>
      <div id="blob"></div>
      <div id="blur" class="hero-dots"></div>
      <h1 data-value="THE UNCONCERNED APE" id="hack">THE UNCONCERNED APE</h1>
      <span id="hero-about">
        passionate tech enthusiast. <br />
        currently a student. <br />
        trying to figure out what i want to do with life.
      </span>
      <img
        src="images/logo.png"
        alt="one of my logo"
        id="hero-image"
        draggable="false"
      />
    </div>
    <div class="below-hero gradient-bg">
      <h1>Heading</h1>
      <p>This is a sample sentence that is used as a placeholder.</p>
      <h1>Heading</h1>
      <p>This is a sample sentence that is used as a placeholder.</p>
      <h1>Heading</h1>
      <p>This is a sample sentence that is used as a placeholder.</p>
      <h1>Heading</h1>
      <pre>This is a sample sentence that is used as a placeholder.</pre>
    </div>
    <!-- scripts -->
    <script src="js/hacker-ish.js"></script>
    <script src="js/navbar.js"></script>
  </body>
</html>
