<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/home-style.css" />
    <!-- navbar styles -->
    <link rel="stylesheet" href="css/nav-style.css" />
    <title>Sai Vishnu</title>
    <link
      href="https://fonts.googleapis.com/css?family=Space+Mono:regular,italic,700,700italic"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="hero">
      <%- include("navbar"); %>
      <div id="blob"></div>
      <div id="blur"></div>
    </div>
    <div class="below-hero">
      <h1>veves</h1>
      <h1>vevewe</h1>
      <p>vewvwe w wfwe wf fu</p>
      <h1>vevewe</h1>
      <p>vewvwe w wfwe wf fu</p>
      <h1>vevewe</h1>
      <p>vewvwe w wfwe wf fu</p>
      <h1>vevewe</h1>
      <p>vewvwe w wfwe wf fu</p>
      <h1>vevewe</h1>
      <p>vewvwe w wfwe wf fu</p>
      <h1>vevewe</h1>
      <p>vewvwe w wfwe wf fu</p>
      <h1>vevewe</h1>
      <p>vewvwe w wfwe wf fu</p>
    </div>
    <script src="js/navbar.js"></script>
  </body>
</html>
