body {
  margin: 0;
  padding: 0;
  background: black;
  overflow-x: hidden;
  overflow-y: auto;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

#blob {
  height: 28vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.8;
  z-index: 1;
}

#blur {
  height: 110%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(12vmax);
}

.hero-dots {
  background: radial-gradient(rgba(255, 255, 255, 0.2) 8%, transparent 8%);
  background-position: 0% 0%;
  background-size: 5vmin 5vmin;
}

.hero {
  height: 100vh;
  transition: background-color 3s;
  width: 100vw;
  background-color: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#hack {
  font-family: "Rubik Mono One", monospace;
  color: white;
  font-size: 2.8rem;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 25%;
  translate: -75% -50%;
  z-index: 3;
}

#hero-image {
  position: absolute;
  top: 50%;
  right: 25%;
  transform: translate(50%, -50%);
  z-index: 3;
}

#hero-about {
  font-family: "Courier Prime", Courier, monospace;
  font-size: 1.2rem;
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: white;
}

.below-hero {
  background-color: white;
  z-index: 10;
  position: relative;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.below-hero > h1 {
  margin-top: 0;
}
