
nav {
  position: fixed;
  top: 0;
  left: 5%;
  right: 5%;
  background-color: #f5e9e9;
  border-radius: 15px;
  padding: 10px;
  border: 2px solid #d6d0d0;
  z-index: 5;
}

.nav-items-container {
  z-index: -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  height: 35px;
  margin-right: 10px;
}

.nav-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #7c7777;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}

nav a {
  text-decoration: none;
  color: #7c7777;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}

.current {
  color: #cb2026;
}

.disabled-link {
  pointer-events: none;
  color: #505050;
  text-decoration: line-through;
}
